
BODY{
    scrollbar-face-color: #C2BFC2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #000000;
    scrollbar-darkshadow-color: #000000;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF  
    FONT-SIZE:14px;COLOR:black;FONT-FAMILY:verdana
}
A:link   {  COLOR: #191970;FONT-FAMILY:verdana;font-size:10pt;}
A:visited{  COLOR: #191970;FONT-FAMILY:verdana;font-size:10pt;}
A:hover  {  COLOR: #7A7A7A;FONT-FAMILY:verdana;font-size:10pt;}
.header  {  COLOR:darkblue;FONT-FAMILY:verdana;font-size:14pt;}


