<!--
This file is part of the pestudio solution (www.winitor.com).

This file may not be used outside of the context of pestudio. 
Any usage of this file outside of the context of pestudio (e.g. in third-party application) must be explicitely authorized.
-->
<xml version="1.0" encoding="utf-8">

  <files>
    <fthresholds>thresholds.xml</fthresholds>
    <findicators>indicators.xml</findicators>
    <fstrings>strings.xml</fstrings>
    <ffunctions>functions.xml</ffunctions>
    <flanguages>languages.xml</flanguages>
    <ftranslations>translations.xml</ftranslations>
    <fsignatures>signatures.xml</fsignatures>
    <frich-header>rich-header.xml</frich-header>
    <fmitre>mitre.xml</fmitre>
  </files>

  <setting>
    <dos-stub enable="1" show="1"/>
    <dos-header enable="1" show="1"/>
    <file-header enable="1" show="1"/>
    <rich-header enable="1" show="1" fn="1" details="1"/>
    <optional-header enable="1" show="1"/>
    <directories enable="1" show="1" empty="1"/>
    <sections enable="1" show="1" bl="1" files="1"/>
    <indicators enable="1" show="1" id="0" bl="1" gp="1" hint="1" sus="1" mitre="1" l1="1" l2="1" l3="1" l4="1"/>
    <libraries enable="1" show="1" bound="0" ftk="1" ftko="1" type="1" stamp="0" desc="1"/>
    <imports enable="1" show="1" gp="1" type="1" bl="1" od="1" ad="0" un="0" dp="0" hint="1" thunk="1" ti="1" ta="1" lib="1"/>
    <exports enable="1" show="1" fwd="1" gap="1" od="1" dup="1" decorate="1"/>
    <exceptions enable="1" show="1"/>
    <relocations enable="1" show="1"/>
    <tls enable="1" show="1"/>
    <certificate enable="1" show="1"/>
    <resources enable="1" show="1" offset="1" bl="1" standard="0" hash="0" lang="1" size="1" hex="1" txt="1"/>
    <strings enable="1" show="1" bl="1" wl="1" hint="1" gp="1" mitre="1" offset="1" size="1" type="3" ti="1" ta="1" min="3" utf8="1" utf16="1"/>
    <debug enable="1" show="1"/>
    <manifest enable="1" show="1"/>
    <version enable="1" show="1"/>
    <overlay enable="1" show="1" bl="1" offset="1"/>
    <report enable="1"/>
    <mitre enable="1" show="1" short="0" fn="1"/>
    <msdn enable="1"/>
    <google enable="1"/>
    <score-file enable="1" show="1" all="1" detected="0" undetected="0"/>
    <score-overlay enable="1"/>
    <caption enable="1"/>
    <read-only enable="0"/>
    <thresholds enable="1"/>
  </setting>

  <colors>
    <color id="01" r="000" g="000" b="000">black</color>
    <color id="02" r="255" g="255" b="255">white</color>
    <color id="03" r="088" g="088" b="088">gray_dark</color>
    <color id="04" r="173" g="173" b="173">gray</color>
    <color id="05" r="249" g="249" b="249">gray_light</color>
    <color id="06" r="168" g="000" b="000">red_dark</color>
    <color id="07" r="238" g="034" b="035">red</color>
    <color id="08" r="255" g="245" b="250">red_ligth</color>
    <color id="09" r="000" g="102" b="000">green_dark</color>
    <color id="10" r="000" g="128" b="000">green</color>
    <color id="11" r="240" g="245" b="240">green_light</color>
    <color id="12" r="000" g="000" b="149">blue_dark</color>
    <color id="13" r="000" g="168" b="255">blue</color>
    <color id="14" r="174" g="226" b="255">blue_light</color>
    <color id="15" r="204" g="102" b="000">yellow_dark</color>
    <color id="16" r="204" g="102" b="000">yellow</color>
    <color id="17" r="255" g="250" b="245">yellow_light</color>
    <color id="18" r="255" g="187" b="000">gold_dark</color>
    <color id="19" r="255" g="215" b="000">gold</color>
    <color id="20" r="255" g="215" b="168">gold_light</color>
  </colors>

  <sections>
    <section>/4</section>
    <section>/14</section>
    <section>/19</section>
    <section>/26</section>
    <section>/29</section>
    <section>/31</section>
    <section>/32</section>
    <section>/33</section>
    <section>/35</section>
    <section>/41</section>
    <section>/45</section>
    <section>/46</section>
    <section>/51</section>
    <section>/55</section>
    <section>/57</section>
    <section>/63</section>
    <section>/67</section>
    <section>/70</section>
    <section>/77</section>
    <section>/78</section>
    <section>/80</section>
    <section>/81</section>
    <section>/89</section>
    <section>/91</section>
    <section>/92</section>
    <section>/99</section>
    <section>/102</section>
    <section>/112</section>
    <section>/113</section>
    <section>/124</section>
    <section>mods</section>
    <section>.CRT</section>
    <section>.bss</section>
    <section>.data</section>
    <section>.didata</section>
    <section>.didat</section>
    <section>.dynamic</section>
    <section>.dynsym</section>
    <section>.edata</section>
    <section>.eh_fram</section>
    <section>.INIT</section>
    <section>.idata</section>
    <section>.idata2</section>
    <section>.itext</section>
    <section>.gfids</section>
    <section>.giats</section>
    <section>.gljmp</section>
    <section>.ndata</section>
    <section>.pdata</section>
    <section>.relo</section>
    <section>.reloc</section>
    <section>.rsrc</section>
    <section>.rdata</section>
    <section>.sxdata</section>
    <section>.sdata</section>
    <section>.symtab</section>
    <section>.text</section>
    <section>.textbss</section>
    <section>.tls</section>
    <section>.xdata</section>
    <section>PAGE</section>
    <section>DATA</section>
    <section>BSS</section>
    <section>INIT</section>
    <section>CODE</section>
  </sections>
</xml>